<div class="container">

    <div class="card">
        <img src="~/imagenes/1.jpg" />
        <h4>Nuestros locales</h4>
        <p>
            Contamos con mas de 4 locales en todo Lima, nuestros locales cuentan con las medidas de prevención para el covid-19, encontras un ambiente comodo y acojedor
            para disfrutar tu comida.
        </p>
        <div> <button type="button" class="btn btn-success">Leer más</button></div>

    </div>

    <div class="card">
        <img src="~/imagenes/2.jpg" />
        <h4>Productos</h4>
        <p>
            Nuestros productos son de la mejor calidad y a aun muy buen precio tenemos multiples promociones de comidas y bebidas para elegir y disfrutar
            con amigos o en familia.
        </p>
        <div> <button type="button" class="btn btn-success">Leer más</button></div>
    </div>

</div>
<div class="parallax">
    <header class="text-para">
        <p>Tenemos los mejores productos</p>
        <hr />
        <h2>Por eso nuestro clientes vuelven</h2>
    </header>
</div>
<div class="text-2">
    <header>
        <p>Sangucheria Cooper</p>
        <hr />
        <h2>La mejor calidad al mejor precio</h2>
    </header>
</div>
