* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /*font-family:'Times New Roman', Times, serif;
    font-size:15px;*/
}

body {
}

#contenedor {
    background-color: #ebe7e7;
    position: absolute;
    width: 80%;
    margin: auto;
    left: 85px;
    right: 85px;
}

#imgban {
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    transition: all .2s;
    opacity: 0.9;
    filter: brightness(0.8);
    background-color: rgba(0,0,0,0.8);
}

.texto {
    font-size: 50px;
}

.texto1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#nav-position {
    z-index: 100;
    top: 0;
    width: 100%;
    position: fixed;
    float: right;
}



.borde {
    border-radius: 0px;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.nav-item {
    font-size:15px;
    padding-left: 50px;
    padding-right: 50px;
}
/*NAV DESPLEGABLE*/
.dropdown-menu {
    background: #333333;
}
    .dropdown-menu:hover {
        background-color:black;
        opacity:0.7;
    }
    .dropdown-menu a {
        color: #b2b9c6;
        text-decoration: none;
        display:inline-block;
    }
        .dropdown-menu a:hover {
            color: white;
            
        }

section {
    padding: 0;
    margin: 0;
}
/*estilos para los card*/
.title {
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 50px;
    font-weight: 100;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

    .container .card {
        width: 500px; /*330px;*/
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 10px;
        text-align: center;
        transition: all 0.25s;
    }

        .container .card:hover {
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0,0,0,0.2);
        }

        .container .card img {
            width: 500px; /*330px;*/
            height: 220px;
        }

        .container .card h4 {
            font-weight: 600;
        }

        .container .card p {
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        }


/*fin de los estilos para el card*/
/*inicio esefecto parallax*/
.parallax {
    background-color: #000;
    color: white;
    background-image: url(../imagenes/masterbanner-burger-c01c_1400x420.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
    height: 300px;
}

.text-para {
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    padding-top: 100px;
}


/*fin efecto parallax*/
.text-2 {
    text-align: center;
    padding: 50px;
    margin: auto;
    background-color: white;
}

footer {
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;

}

#text-footer {
    color: white;
}

/*Estilos de sesion*/
    /*estilo sacado de intenet(revisar)*/

/*:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}*/

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-img-left {
        width: 45%;
        background: scroll center url(../imagenes/cooper-burgers.jpg);
        background-size: cover;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

.form-signin {
    width: 100%;
}

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}
/*fin de estilos para la sesion*/

/*foto*/
.foto {
    width: 60px;
    height: 60px;
    border: 1px;
}
/*para los combos de los formularios*/
#distrito.form-control {
    padding:0px;
}

#categoria.form-control {
    padding: 0px;
}

/*estilos para los detalles de los productos*/
.marco {
    width:50%;
    height:200px;
    float:left;
}
#imgArt {
    width:25%;
    height:180px;
    float:left;
    margin:50px 5% 50px 5%;
    padding:5px;
    border-radius:20px;
}
/*carrito*/
.bloque {
    color:white;
    width: 32%;
    height: 250px;
    float: left;
    margin: 5px;
    border: 1px dotted;

}
.imgCarr {
    width: 35%;
    height: 170px;
    float: left;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.imgPro {
    width: 25%;
    height: 170px;
    margin: 5px;
    padding: 1px;
    border-radius: 10px;
}
#monto {
    font-family: 'Trebuchet MS';
    font-size: 24px;
}

#imgProPeq {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
